.phoneBook {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containerForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid black;
}

.addBtn {
  cursor: pointer;
  border-radius: 4px;
  max-width: 104px;
  border: none;
  padding: 4px 6px;
  margin: 18px;
  
}

.addBtn:hover,
.addBtn:focus,
.addBtn:active {
  background-color: rgb(203, 188, 214);
}
.lebel {
  flex-direction: column;
  width: 200px;
  margin: 18px;
  display: flex;
}

.contactItem {
  margin-bottom: 18px;
}
.deleteBtn {
  margin-left: 20px;
  width: 45px;
}
